astroid==2.4.2
awscli==1.18.150
bleach==3.3.0
botocore==1.18.9
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
docutils==0.15.2
idna==2.10
importlib-metadata==2.0.0
isort==5.5.4
jmespath==0.10.0
keyring==21.4.0
lazy-object-proxy==1.4.0
mccabe==0.6.1
packaging==20.4
pkginfo==1.5.0.1
pyasn1==0.4.8
Pygments==2.7.1
pylint==2.6.0
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML==5.3.1
readme-renderer==26.0
requests==2.24.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
rsa==4.5
s3transfer==0.3.3
six==1.15.0
toml==0.10.1
tqdm==4.50.0
twine==3.2.0
typed-ast==1.4.1
urllib3==1.25.10
webencodings==0.5.1
wrapt==1.12.1
zipp==3.2.0
